* {
  font-family: nunito sans, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.pointer {
  cursor: pointer;
}
.header {
  .border-bottom {
    border-bottom: 2px solid black !important;
  }
  .fw-bold {
    font-size: 13px;
  }
}

h6 {
  color: #e5e9ec;
  font-weight: 700;
}
.font-color {
  color: #c0c0c0;
  font-size: 12px;
}

li {
  .nav-link {
    color: #000000;
  }
}
@media only screen and (min-width: 992px) {
  .underline {
    border-bottom: 1px solid #000000;
  }
}
.dropdown-item {
  input {
    background-color: #ffff;
    border: none;
  }
  ::placeholder {
    color: #000000;
  }
}
input,
.header-newsletter {
  background-color: #44677b;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.header-newsletter {
  width: 65%;
  padding: 8px 0 8px 0;
}
.header-newsletter:hover {
  cursor: pointer;
}
.header-newsletter span {
  width: 40px;
  height: 40px;
}
