.card-img-overlay {
  position: absolute;
  right: 0;
  left: 0;
}
@media only screen and (min-width: 1200px) {
  .heightNews {
    height: 530px;
  }
}

.bi-play-circle::before {
  font-size: 100px;
}
