// .latest-news-card {
//   background-image: url("./fabcf9f2c97e98130ca320900eb163cb.jpg");
// }
.card-img-overlay {
  position: absolute;
  //   bottom: -3rem;
  right: 0;
  left: 0;
  //   top: -5rem;
}
