.card-img-overlay {
  background: linear-gradient(to bottom, transparent 20%, black 100%);
}
@media only screen and (min-width: 1200px) {
  .heightNews {
    height: 550px;
  }
}

.bi-play-circle::before {
  font-size: 100px;
}
