.sticker {
  width: 100%;
  background-color: #3d5c6e;
  display: flex;
  padding: 0.5rem 0;
  position: relative;
  z-index: 1;
  @media only screen and (min-width: 400px) {
    :after {
      content: "";
      border-left: 25px solid transparent;
      border-right: 30px solid transparent;
      border-top: 48px solid#3d5c6e;
      position: absolute;
      right: -30px;
      z-index: -1;
      top: 0;
    }
    .fw-bold {
      font-size: 13px;
    }
  }
}

.sticker-small {
  --_current-color: #3d5c6e;
  min-width: 10%;
  background-color: var(--_current-color);
  display: flex;
  position: relative;
  z-index: 1;

  ::after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 20px solid transparent;
    border-top: 27px solid var(--_current-color);
    position: absolute;
    right: -20px;
    z-index: -1;
    top: 0;
  }
  &.bg-light {
    --_current-color: #ffffff;
  }
  .fw-bold {
    font-size: 13px;
  }
  @media only screen and (max-width: 770px) {
    :after {
      content: "";
      border-left: 10px solid transparent;
      border-right: 20px solid transparent;
      border-top: 19px solid#3d5c6e;
      position: absolute;
      right: -20px;
      z-index: -1;
      top: 0;
    }
  }
}
