$theme-colors: (
  "primary": #3d5c6e,
  "secondary": #e5e9ec,
  "info": #df3a10,
  "danger": red,
  "success": #19cd37,
  "dark": #2f4553,
);
.light-theme {
  color: #e5e9ec;
  font-size: 9px;
}

@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
